body {
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: black;
}
a:hover {
    color: lightgreen;
}

ol, ul {
    list-style: none;
    line-height: 30px;
  }


