<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" media="all" href="/css/ReviewStyle.css" th:href="@{/css/ReviewStyle.css}">
    <title>All Reviews</title>
</head>

<body>
    <nav>
        <h1>All Reviews</h1>
        <ul>
            <li><a href="/categories">All Categories</a></li>
        </ul>
    </nav>
    
    <main>
        <header>
            Something something something
        </header>
        <div th:each="review: ${reviews}">
            <h2>
                <a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
            </h2>
        </div>
    </main>
    
    <footer>
        <p><a href="/category">back to a specific category?</a></p>
        <p><a href="/categories">back to all categories?</a></p>
        <small>&copy; Michael Hathaway 2019</small>
    </footer>
    
</body>
</html>